@import '../../colors';
@import '../../mixin';

#management
{
    grid-area: management;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $gold;

    >a 
    {
        cursor: pointer;
    }
}

