@import '../../colors';
@import '../../mixin';

#code
{
    grid-area: code;

    .card
    {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;

        #codeButton
        {
            grid-column: 1 /  2;
            justify-self: center;
            align-self: center;
        }

        #codeText
        {
            grid-column: 2 /  3;
            justify-self: center;
            align-self: center;
            width: 90%;
            height: 80%;
            padding: 10px;
        
            @include card-scheme($outer_space, 5%);
            color: adjust-color($outer-space, $lightness: +45%);
            
            #code-output
            {
                height: 100%;
                width: 100%;
                border: 0;
                color: adjust-color($outer-space, $lightness: -15%);
                @include card-scheme-oposite(adjust-color($outer-space, $lightness: +50%), +15%);
                overflow-y: auto;
                box-sizing: border-box;
                resize: none;
                padding: 5px;
            }
        }
    }
}