@import '../../colors';
@import '../../mixin';

#prop
{
    grid-area: prop;
    
    .card
    {
        overflow-y: auto;

        .control-module
        {
            grid-area: moduleA;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            @include card-scheme($outer_space, 5%);
            color: adjust-color($outer-space, $lightness: +45%);
            
            padding: 5px;
        }
    }
}